div.entry div{
  padding:10px;
  margin:10px;
  border:2px;
  border-radius:13px;
  background-color:#228B22;
}
div.entry a{
  color:#000;
}
#nd{
  color:#001dff;
}
#yd{
  color:#00ff22;
}
span.cx{
  color:#ff8400;
  float:right;
  padding:0px;
  margin-right:20px;
}
div.ud{
  text-align:center;
}
a.uda{
  color:red;
}
a.uda:hover{
  color:darkred;
}
a.uda:visited:hover{
  color:darkred;
}
a.udb{
  color:yellow;
}
a.udb:hover{
  color:gold;
}
a.udb:visited:hover{
  color:gold;
}
div.cnm{
  background-color:#B0B0B0;
  padding:15px;
  margin:15px;
}
