div.entry div{
  padding:10px;
  margin:10px;
  border:2px;
  border-radius:13px;
  background-color:#228B22;
}
div.entry a{
  color:#000;
}
#nd{
  color:#001dff;
}
#yd{
  color:#00ff22;
}
span.cx{
  color:#ff8400;
  cloat:right;
  padding:0px;
  margin-right:20px;
}
div.ud{
  text-align:center;
}
a.uda{
  color:red;
}
