body{
	font-family: Arial, sans-serif;
	background-image:linear-gradient(to bottom right, #00e3ff , #ff00ac);
	/*background-repeat:no-repeat;*/
	background-position:center;
	margin:0px;
	padding:0px;
}
header{
	background-position:center;
	padding:0px;
	color:green;
	text-align:center;
	height:128px;
}
nav{
	text-align:center;
	padding:10px;
	position:fixed;
	top:0px;
}
nav a:hover{
	border: 1px solid #fff
	color:#fff;
}
nav a{
	color:grey;
	text-decoration: none;
	padding:1px 5px;
	border-radius:10px;
}
li a{
	color:#fff;
}
li a:visited{
	color:grey;
}
li a:hover{
	color:#fff;
	text-decoration:none;
}
footer{
	height:256px;
	color:grey;
	text-align:center;
	
}
a{
	color:grey;
	text-decoration:none;
}
a:hover{
	color:#fff;
}
a:visited{
	color:grey;
}
