body{
	font-family: Arial, sans-serif;
	background-color:#383838;
	background-image:url('https://secure-mcpc.github.io/img/stone.png');
	background-size:128px 128px;
	/*background-repeat:no-repeat;*/
	background-position:center;
	margin:0px;
	padding:0px;
	image-rendering:pixelated;
	background-attachment:fixed;
}
header{
	background-color:#303030;
	background-image:url('https://secure-mcpc.github.io/img/dirt.jpg');
	background-size:128px 128px;
	background-position:center;
	padding:0px;
	color:green;
	text-align:center;
	height:128px;
	image-rendering:pixelated;
	background-attachment:fixed;
}
nav{
	background-color:#303030;
	text-align:center;
	padding:10px;
	position:fixed;
	top:0px;
	image-rendering:pixelated;
	background-image:url('https://secure-mcpc.github.io/img/grass.jpg');
	background-size:128px 128px;
	background-position:top;
	background-attachment:fixed;
}
nav a:hover{
	background-color:#383838;
	color:#fff;
}
nav a{
	color:grey;
	text-decoration: none;
	padding:1px 5px;
	border-radius:10px;
}
li a{
	color:#fff;
}
li a:visited{
	color:grey;
}
li a:hover{
	color:#fff;
	text-decoration:none;
}
footer{
	height:256px;
	background-color:#303030;
	color:grey;
	text-align:center;
	background-image:url('https://secure-mcpc.github.io/img/stone.png'),url('https://secure-mcpc.github.io/img/bedrock.jpg');
	background-position: top, bottom;
	background-size:128px 128px;
	image-rendering:pixelated;
	background-attachment:fixed;
	
}
a{
	color:grey;
	text-decoration:none;
}
a:hover{
	color:#fff;
}
a:visited{
	color:grey;
}
