.nblk{
  display: flex;
  justify-content: center;
  padding-left:3px;
  padding-right:3px;
}
.block{
  background-color:#ffd383;
  height:150px;
  width:150px;
  border-radius:25px;
  margin-top:25px;
}
.img{
  height:100px;
  width:120;
}
