.block{
  background-color:#ffd383;
  height:150px;
  width:15%;
  border-radius:25px;
  margin-top:25px;
}
#blka{
  float:left;
  margin-left:34%;
}
#blkb{
  float:right;
  margin-right:34%;
}
.img{
  height:100px;
  width:12%;
}
